<div class="p-[14px]">
    <p-button label="Back" icon="pi pi-arrow-left" [routerLink]="['/accounts/users']" (click)="userForm.reset()" text />
</div>

<div class="flex flex-col gap-3">
    <p-card>
        <ng-template #title>Personal Information</ng-template>
        
        <form class="grid grid-cols-1 md:grid-cols-2 gap-3" [formGroup]="userForm">
            <p-floatlabel variant="in">
                <input id="firstName" pInputText formControlName="firstName" fluid />
                <label for="firstName">First Name</label>
            </p-floatlabel>
            <p-floatlabel variant="in">
                <input id="lastName" pInputText formControlName="lastName" fluid />
                <label for="lastName">Last Name</label>
            </p-floatlabel>
            <p-floatlabel variant="in">
                <input id="email" pInputText formControlName="email" type="email" fluid />
                <label for="email">Email</label>
            </p-floatlabel>
    
            <p-floatlabel variant="in">
                <p-select formControlName="country" inputId="country" [options]="countries" appendTo="body" optionLabel="name" optionValue="name" filter fluid />
                <label for="country">Country</label>
            </p-floatlabel>
        </form>
    </p-card>
    
    <p-card>
        <ng-template #title>Account Information</ng-template>
        
        <form class="grid grid-cols-1 md:grid-cols-3 gap-3" [formGroup]="userForm">
            <p-floatlabel variant="in">
                <input id="username" pInputText formControlName="username" fluid />
                <label for="username">Username</label>
            </p-floatlabel>
        </form>
    </p-card>
</div>