<app-breadcrumbs [menu]="pageInfo"></app-breadcrumbs>

<p-card>
    <div class="flex justify-between items-center mb-8 sm:mb-2">
        <h5 class="font-bold text-xl">Vehicle Multipliers</h5>
        <p-button (click)="onLoad()" pTooltip="Refresh" icon="pi pi-refresh"></p-button>
    </div>
    <div class="hidden lg:block">
        <app-datatable [columns]="columns" [datasource]="datasource" [actionTempRef]="actionBtn"  />
    </div>
    <div class="block lg:hidden grid grid-cols-1 gap-5">
        @for (item of datasource; track $index) {
            <div class="flex flex-row gap-2 justify-between items-center p-[1rem] border border-gray-200 rounded-lg">
                <div class="flex flex-col">
                    <h6 class="font-semibold">{{ item.name }}</h6>
                    <p>Multiplier: {{ item.multiplier }}</p>
                </div>
                <div class="flex flex-row">
                    <ng-container *ngTemplateOutlet="actionBtn; context: { $implicit: item }"></ng-container>
                </div>
            </div>
        }
    </div>
</p-card>

<p-dialog header="Vehicle Multiplier" [(visible)]="showDialog" styleClass="w-[30rem] md:w-[50rem] h-auto" [modal]="true" [draggable]="false">
    <p-fluid>
        <div class="grid grid-cols-2 gap-4 mb-8" [formGroup]="vehicleForm">
            <p-floatlabel variant="in">
                <input id="name" pInputText formControlName="name" readonly />
                <label for="name">Name</label>
            </p-floatlabel>
            <p-floatlabel variant="in">
                <p-inputnumber inputId="multiplier" formControlName="multiplier" mode="decimal" [showButtons]="true" [minFractionDigits]="1" [maxFractionDigits]="2" [useGrouping]="false" [min]="0" locale="en-US" />
                <label for="multiplier">Multiplier</label>
            </p-floatlabel>
        </div>
    </p-fluid>
    <div class="flex justify-end gap-2">
        <p-button label="Cancel" severity="secondary" (onClick)="onCancel()" />
        <p-button label="Save" (onClick)="onSave($event)" />
    </div>
</p-dialog>

<ng-template #actionBtn let-item>
    <button pButton type="button" icon="pi pi-pencil" label="Edit" severity="success" (click)="onEdit(item)"></button>
</ng-template>